<html>
@{
    ViewBag.Title = "kuku";
}
<head>
    <h2>Shit is going down </h2>
</head>
<body>
    <img src="http://cdn3.wpbeginner.com/wp-content/uploads/2015/08/error.jpg" alt="some_text">

</body>


</html>


